$font: 'Arial';
$blue :#53429c;

* {
  font-family: $font;
}

.title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #2c2c2c;
    margin-top: 30px;
    user-select: none;
    text-shadow: 3px 3px 10px rgba(148, 148, 148, 0.404);
}

.title-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgb(15, 6, 24);
    background: linear-gradient(322deg,
            #9b9a9a80 20%,
            #ececec80 50%);
    width: 100%;
    min-height: 100vh;
    z-index: 9099999999999999;
}

.spinner {
    display: flex;
    justify-content: center;
}

svg {
    width: 50%;
    max-width: 10rem;
    animation: rotate 3.6s linear infinite;
}

circle {
    fill: none;
    stroke: $blue;
    stroke-width: 8px;
    stroke-dasharray: 300;
    box-shadow: 3px 3px 10px rgba(148, 148, 148, 0.404);
    animation: outline 2s cubic-bezier(0.77, 0, 0.18, 1) infinite;
}

@keyframes outline {
    0% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 300;
    }

    100% {
        stroke-dashoffset: 600;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(-1turn);
    }
}
